<!-- your html code here -->
<div class="container border-bottom">
  <div class="row my-4">
      <div class="col-md-6">
        <h2>The First Heading <span class="text-light">Will Catch your Eye</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolorum eum consequatur illum, voluptas incidunt minus nostrum, perferendis, voluptatibus doloribus consectetur! Aperiam delectus quis aut. Odit adipisci ducimus fugiat itaque.</p>
      </div>
      <div class="col-md-3">
        <img src="./assets/img/1.jpg" alt="breaking-bad" class="img-fluid rounded-circle" style="max-width: 200px; max-height: 200px;">
     </div>
  </div>
</div>