<!-- your html code here -->
<div class="container border-bottom py-4">
    <h2>Portfolio</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores suscipit temporibus consequuntur corrupti
        velit, ipsa laboriosam harum! Quia, perspiciatis veritatis nostrum consequatur dignissimos minus labore.
        Laboriosam, officiis dolore! Eaque, rem.
    </p>
    <div class="card-group pb-2">
        <div class="card me-2">
            <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure harum a praesentium unde laboriosam ipsam eligendi labore. A aliquid sit blanditiis voluptas dolor distinctio eaque beatae molestiae nostrum! Quas, atque?</p>
            </div>
        </div>
        <div class="card mx-2 ">
            <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas voluptatum deserunt, maxime deleniti error distinctio rem, placeat tempora repellendus minus, est quis quisquam. Cum tempore saepe molestiae magni impedit doloremque!</p>
            </div>
        </div>
        <div class="card ms-2">
            <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod officia saepe commodi numquam voluptate exercitationem similique? Assumenda explicabo eaque libero voluptatum earum? Nihil nulla vero officia consequuntur autem. Soluta, nisi!</p>
            </div>
        </div>
    </div>

</div>